.main-header {
  z-index:500;
}
.main-header .logo {
  font-weight: bold;
  font-size: 24px;
}
.main-sidebar {
  z-index:400;
}
.sidebartext {
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  white-space: normal;
}
.sidebarlogos {
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
}