/* main stylesheet of the sdsbrowser app -- only complements the shinydashboard defaults */
/* "!important" indicates, that a default value from one of the underlying systems is overwritten */

/* purple header line */
.main-header {
  z-index:500;
}
.main-header .logo {
  font-weight: bold;
  font-size: 24px;
}

/* sidebar on the left */
.main-sidebar {
  z-index:400;
}
.sidebartext {
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  white-space: normal;
}
.sidebarlogos {
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
}

/* symbol in the top right corner */ 
.corner_symbol {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0; 
  z-index:1000;
  height: 37px;
  width: 37px;
  font-size: 37px;
  color: white;
  margin-right:5px;
}

/* special buttons */
.load_data_button {
  width: 100%;
  background-color: #605ca8;
  color: white;
}
.download_button {
  width: 100%;
  margin-top: 5px;
  white-space: normal;
}

/* this is dynamically added to some views if no data is loaded */
.inactiveLink {
  pointer-events: none;
  cursor: default;
  text-decoration: line-through;
}

/* plotly (interactive plot module) */
.js-plotly-plot .plotly .modebar {
    left: 0;
    height: 35px;
    background: rgba(255, 255, 255, 0.0) !important;
}
.js-plotly-plot .plotly .modebar-btn svg {
  height: 30px;
  width: 30px;
}

/* lineupjs (the table module) */
.lu-row {
  background-color: rgba(0,0,0,0.0) !important;
}
.lu-header {
  background-color: rgba(0,0,0,0.0) !important;
}
.lu-handle {
  background-color: rgba(0,0,0,0.0) !important;
}

/* horizonal line */
hr.nicehr {
  border: 0;
  height: 3px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
